/* Floating Button */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    background-color: #FF8042 !important;
    border-color: #FF8042 !important;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Floating Menu */
.floating-menu {
    position: fixed;
    bottom: 90px;
    right: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 999;
    overflow: hidden;
    animation: fadeIn 0.3s ease-in-out;
}

.floating-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.floating-menu li {
    border-bottom: 1px solid #f1f1f1;
}

.floating-menu li:last-child {
    border-bottom: none;
}
.float{
    background-color: #FF8042;
}

.floating-menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.floating-menu li a:hover {
    background-color: #f8f9fa;
}

/* Fade-in Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive: Ensure button only shows on smaller screens */
@media (max-width: 768px) {
    .floating-button {
        visibility: visible;
    }
}
