.nav-link{position:relative;color:#fffc;text-decoration:none;transition:color .3s}
.nav-link.active{font-weight:700;background-color:#ff583352;font-size:small;color:#fff}
.nav-link.active::after,.nav-link::after{content:'';position:absolute;left:0;bottom:-4px;height:1px;background-color:#ff5733;transition:width .3s}
.nav-link.active::after,.nav-link:hover::after{width:100%}
.nav-link::after{width:0}
.landing-page{background-color:#121212;color:#fff;width:'100vh';height:'100vh'}
.btn1,.lead{color:#fff!important}
.lead{background-color:#1f1f1f25!important}
@keyframes typing{from{width:0}to{width:100%}}
@keyframes blink{from{border-right-color:#000}to{border-right-color:transparent}}
.btn1{display:flex!important;width:18rem!important;height:50px!important;flex-direction:row!important;justify-content:space-around!important;align-items:center!important;border-color:#19ec6a!important;font-family:Poppins,sans-serif!important;font-size:small!important;border-radius:30px!important}
.feature-card,.testimonial{border-color:#1f1f1f!important}
.btn1:hover{background-color:#12a059!important}.container1{background-color:none!important;justify-content:center;align-items:center}
.hero{height:100vh;width:100%;background-image:url("../assets/hrms.jpg");background-size:cover;background-repeat:no-repeat;    box-shadow:0 5px 15px rgba(49,8,231,.737);

    background-position:center;

    text-shadow:0 0 10px rgba(0,0,0,.7);animation:5s infinite zoomBackground}
    .hero-curve {
        position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 2;
    }
    @keyframes zoomBackground{0%,100%{background-size:100%}50%{background-size:110%}}.hero_flex{background-color:#2a2a2a!important}.feature-card,.features{background-color:#fff}.feature-card{border-radius:20px!important;border-width:'2px'!important;transition:transform .3s}.feature-card:hover{transform:scale(1.05);border:none!important}.contact,.testimonials{background-color:#1f1f1f}.testimonial{display:flex;background-color:#0ff;border-radius:2px!important;font-style:italic}.owner{font-weight:700;color:#1f1f1f}.name::placeholder{color:#fff!important}.email::placeholder{color:#fff!important}.footer{background-color:#2a2a2a}.image-cards-container{position:relative;display:flex;gap:20px}.image-card{position:relative;overflow:hidden;border:5px solid #fff;transition:transform .3s ease-in-out}.image-card img{display:block;width:100%;height:100%;object-fit:cover}@media screen and (max-width:768px){.contact{padding-left:10px;padding-right:10px}.hero{height:auto;width:100%;padding:20px;margin-top:50px;background-image:url("../assets/hrms.jpg");background-size:cover;background-repeat:no-repeat;background-position:center;text-shadow:0 0 10px rgba(0,0,0,.7);animation:5s infinite zoomBackground}}.large-card,.small-card{width:300px;border:0;box-shadow:0 5px 15px rgba(49,8,231,.737)}.large-card{height:500px;z-index:2;transform:scale(1.1)}.small-card{height:400px;transform:rotate(45deg)}.left-card{transform:rotate(-45deg)}.right-card{transform:rotate(45deg)}.image-card:hover{transform:scale(1.15);border:2px solid #fff;border-radius:20px;box-shadow:0 5px 15px rgba(49,8,231,.737)}