.bg-success {
    background-color: #0d2b14; /* Dark green */
    color: white;
    font-family: "Poppins", sans-serif;
    width: 180px;
    margin-top: 0 !important;
    height: 100vh;
    padding-top: 30px !important;
    position: fixed;
    padding: 20px;
  }
  
  .text-title  {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    padding-top: 30px;
    color: greenyellow ;
    margin-bottom: 2rem;
    text-align: center;
  }
  .title_set{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .title_setl{
    height: 60px;
    display: flex;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    width: 60px;
    border-radius: 20px;
    background: linear-gradient(135deg, #d1b7ee, #59b026);
  }
  
  .text-white a {
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;

    font-size: 0.9rem;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
   .text-whit:hover {
    background-color: #eeecea60; /* Lighter green */
    color:rgb(237, 157, 9);
    font-family: "Poppins", sans-serif;

  }