.bg {
    background-color: #132d19 !important; /* Dark green */
    color: white;
    font-family: "Poppins", sans-serif;
    width: 15rem;
    height: 100vh;
    padding-top: 30px !important;
    position: fixed;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    margin-right: 20px;
  }
  
  .text-title  {
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
    padding-top: 30px;
    color: rgb(246, 247, 244) ;
    margin-bottom: 2rem;
    text-align: center;
  }
  .title_set{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .title_setl{
    height: 60px;
    display: flex;
    margin-right: 3px;
    justify-content: center;
    align-items: center;
    width: 60px;
    margin-bottom: 5px !important;
  }
  
  .text-white a {
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    margin: 1rem 0;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
   .text-whit:hover {
    background-color: #eeecea60; /* Lighter green */
    color:#FF8042;
    font-family: "Poppins", sans-serif;
    font-weight: bold;


  }
  .text-whit.active{
    background-color: #FF8042;
    color:#fff;
  }
  @media (max-width: 768px){
    .bg{
      transform: translateX(-100%);
      
      width: 100%; /* Full width */
        height: auto; /* Adjust height */
        box-shadow: none; /* Remove shadow for a cleaner look */
        border-top: 1px solid #ccc;
    
    }
  }