.App {
  text-align: center;
  background-color:#e2e2b6 ;
  height: 100%;
  margin: 0px !important;
}

.container{
  margin-top: 0 !important;
  height: max-content;
  width: max-content;
  margin-left: 14rem !important;


}
@media (max-width:768px){
  .container{
    margin-top: 0 !important;
    margin-left: 0px !important;

  
  
  }
}



/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
