body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


::-webkit-scrollbar-thumb {
  background: #332f6e; /* Dark gray thumb */
  border-radius: 5px;
}
html {
  width: 100%;
  scrollbar-color: #41488a #f1f1f1;
  scrollbar-width: thin; /* thumb color track color */
  height: 100%;
}
#root { /* For React apps */
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
